# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Scan file'
      'command': 'mixed-indent-warning:file'
    },
    {
      'label': 'Toggle mixed-indent-warning'
      'command': 'mixed-indent-warning:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'mixed-indent-warning'
      'submenu': [
        {
          'label': 'File'
          'command': 'mixed-indent-warning:file'
        },
        {
          'label': 'Toggle'
          'command': 'mixed-indent-warning:toggle'
        }
      ]
    ]
  }
]
